<link rel="stylesheet" href="../css/styles.css">
<%- include('../views/layaouts/header', {title: 'Giro-Grafia'}); -%>


<div class="card-completo">

  <div class="card" style="width: 18rem;">
    <img src="./jpgmp4/CARROCATEGORIA1.jpg" class="card-img-top" alt="...">    <div class="card-body">
      <h5 class="card-title">DEPORTIVOS</h5>
      <p class="card-text">Aceleracion, velocidad, atraccion.</p>
      <div class="row">
        <li class="btn">
          <a class="btn-outline-secondary" href="/categorias3">
                Mas información
            </a>
        </li> 
            </a>
        </div>
    </div>
    </div>
  </div>


  <div class="card" style="width: 18rem;" action="/categorias2" method="get">
    <img src="./jpgmp4/CARROCATEGORIA2.jpg" class="card-img-top" alt="...">    <div class="card-body">
      <h5 class="card-title">CLASICOS</h5>
      <p class="card-text">Armonioso, equilibrado, calidad.</p>
      <div class="row">
        <div class="col-12 d-grid">
            <a href="/deportivos" class="btn btn-outline-secondary">
                Mas información
            </a>
        </div>
    </div>
    </div>
  </div>
    </div>
  </div>
  

  <div class="card" style="width: 18rem;">
    <img src="./jpgmp4/CARROCATEGORIA3.jpg" class="card-img-top" alt="...">    <div class="card-body">
      <h5 class="card-title">4x4</h5>
      <p class="card-text">Dureza, aventura, experiencia.</p>
      <div class="row">
        <div class="col-12 d-grid">
            <a href="/categorias3" class="btn btn-outline-secondary" method="get">
                Mas información
            </a>
        </div>
    </div>
    </div>
  </div>
    </div>
  </div>
</div>

