body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: inherit;
    z-index: -1;
}

.cards-container {
    position: absolute;
    top: 50%; /* Puedes ajustar esto según tu diseño */
    left: 50%; /* Puedes ajustar esto según tu diseño */
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que las cards estén por encima del fondo o video */
}

.card-completo {
    display:inline; /* Utiliza flexbox para colocar las cards en fila */
    justify-content: center; /* Centra las cards horizontalmente */
    gap: 20px; /* Espaciado entre las cards */
  }
  .card {
    max-width: 300px; /* Establece el ancho máximo de las cards */
    margin: 0 auto; /* Centra las cards horizontalmente */
  }