<link rel="stylesheet" href="../css/styles.css">
<%- include('../views/layaouts/header', {title: 'Giro-Grafia Deportivos'}); -%>



  <div class="card" style="width: 18rem;">
    <img src="./jpgmp4/CARROCATEGORIA1.jpg" class="card-img-top" alt="...">    <div class="card-body">
      <h5 class="card-title">DEPORTIVOS</h5>
      <p class="card-text">Aceleracion, velocidad, atraccion.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="./jpgmp4/CARROCATEGORIA1.jpg" class="card-img-top" alt="...">    <div class="card-body">
        <div class="card-body">
      <h5 class="card-title"><%= Autos1.id %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Comprar</a>
    </div>
  </div>